{% extends "layout.html" %}

{% block style %}
    <link rel="stylesheet" href="/static/styleQ.css">
{% endblock %}

{% block main %}
        <header>
            <h1>{{theme}} Quiz</h1>
        </header>
        <form action="{{path}}" method="post">
            <template class="struct">
                <h2 class="question"></h2>
                    <div>
                        <input type="text"  class="ans" readonly>
                    </div>
                    <div>
                        <input type="text"  class="ans" readonly>
                    </div>
                    <div>
                        <input type="text"  class="ans"readonly >
                    </div>
            </template>
            <button class="btn btn-primary" type="submit">Confirm</button>
        </form>

{% endblock %}
