{% extends "layout.html" %}

{% block main %}
        <header>
            <h1>{{theme}} Quiz</h1>
        </header>
        <nav>
            <a href="/" class="home">HOME</a>
            <p class="score">score : <span class="number">0</span></p>
        </nav>

        <div class="mainAct">
            <p class="ready">Pret ?</p>
            <template class="struct">
                <section class="quiz">
                    <p class="question"></p>
                    <ul>
                        <li class="first-li">
                            <p class="ans first"></p>
                        </li>
                        <li class="second-li">
                            <p class="ans second"></p>

                        </li>
                        <li class="third-li">
                            <p class="ans third"></p>
                        </li>
                    </ul>
                </section>
            </template>
        </div>
{% endblock %}
